global
    log /dev/log local0
    maxconn 4096
    user root
    group root
    daemon

defaults
    log global
    timeout connect 10s
    timeout client 3600s
    timeout server 3600s
    retries 3

frontend http
    bind *:80
    bind *:8080
    mode tcp
    default_backend websocket
    
frontend https
    bind *:443 ssl crt /etc/haproxy/certs/haproxy.pem alpn h2,http/1.1
    bind *:8443 ssl crt /etc/haproxy/certs/haproxy.pem alpn h2,http/1.1
    mode tcp
    tcp-request inspect-delay 5s

    acl is_grpc ssl_fc_alpn -i h2
    acl is_grpc_payload req.payload(0,4) -m bin 50524920
    acl is_ws ssl_fc_alpn -i http/1.1
    acl is_http_get req.payload(0,3) -m bin 474554       
    acl is_http_patch req.payload(0,5) -m bin 5041544348  
    acl is_raw_ssh req.payload(0,4) -m bin 5353482d   

    tcp-request content accept if is_grpc || is_grpc_payload || is_ws || is_http_get || is_http_patch || is_raw_ssh
    
    use_backend grpc if is_grpc || is_grpc_payload
    use_backend websocket if is_ws || is_http_get || is_http_patch
    use_backend dropbear if is_raw_ssh

    default_backend websocket

backend websocket
    mode tcp
    server websocket 127.0.0.1:2996 send-proxy

backend grpc
    mode tcp
    server grpc 127.0.0.1:9605 send-proxy

backend dropbear
    mode tcp
    server dropbear 127.0.0.1:90
